.advantages {
  display: grid;

  @media (min-width: $tablet) {
      transition: .4s;
      display: flex;
      justify-content: center;
  }
}

.advantages__item {
  width: 125px;

  &:not(:last-child) {
    margin-bottom: 22px;

    @media (min-width: $tablet) {
        margin: 0 70px 22px 0;
      }
  }

  &--syringe {
    grid-row: 2/3;
  }

  &--heart {
    margin-left: auto;
    grid-row: 2/3;

    @media (min-width: $tablet) {
      margin: 0;
    }
  }

  @media (min-width: $tablet) {
    text-align: center;

    &:nth-child(1) {
      align-self: flex-end;
    }

    &:nth-child(3) {
      align-self: flex-end;
      margin-bottom: 22px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.advantages__item-image {
  margin: 0 auto 18px;
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50px;
  box-shadow: 4px 4px 20px #c2ccca, -8px -8px 20px #ffffff;

  &--hedgehog {
    background: #ffedcd;
  }

  &--syringe {
    background: #e2f0df;
  }

  &--heart {
    background: #70908B;
  }

  &:hover {
    transform: scale(0.8);
  }
}

.advantages__item-icon {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;

  &--syringe {
    top: 56%;
    left: 55%;
  }

  &--heart {
    top: 55%;
    left: 55%;
  }
}

.advantages__item-title {
  margin: 0 0 11px 0;

  @include font-title(14px, 128%, 700);

  color: $color-first;
  text-transform: uppercase;
}

.advatages__item-descreption {
  @include font-title(10px, 160%, 400);
  margin: 0;

  font-family: "Raleway", "Arial", sans-serif;
  color: $color-first;
}
