.card {
  width: 87.5%;
  margin: 0 auto;
}

.card__title {
  @include font-title(48px, 69%, 700);

  font-family: "CormorantInfant-Regular", "Arial", sans-serif;
  color: #455f5b;
  text-transform: uppercase;
  margin: 0 0 12px 0;
}

.card__sub-title {
  @include font-title(24px, 120%, 400);

  font-family: "CormorantInfant-Regular", "Arial", sans-serif;
  color: #70908b;
  text-transform: uppercase;
  margin: 0 0 7px 0;
}

.card__description {
  @include font-title(12px, 141%, 400);

  font-family: "Raleway", "Arial", sans-serif;
  color: #70908b;
  margin: 0 0 21px 0;
}

.card__button-buy {
  width: 100%;
  border: none;
  padding: 22px 91px;
}

.card__button-text {
  @include font-title(14px, 114%, 700);

  font-family: "Raleway", "Arial", sans-serif;
  color: #ffffff;
}
