.card {
  width: 100%;
  margin-bottom: 115px;

  @media (min-width: $mobile-rotate) {
    width: 67%;
    max-width: 630px;
    margin: 0 auto;
    text-align: center;
  }

  @media (min-width: $tablet) {
    margin-bottom: 40px;
  }

  @media (min-width: 1920px) {
    max-width: 650px;
  }
}

.card__title {
  @include font-title(48px, 69%, 700);

  font-family: "CormorantInfant-Regular", "Arial", sans-serif;
  color: #455f5b;
  text-transform: uppercase;
  margin: 0 0 12px 0;

  @media (min-width: $desktop-width) {
    @include font-title(70px, 69%, 700);
    margin: 0 0 19px 0;
  }

  @media (min-width: 1920px) {
    @include font-title(88px, 69%, 700);
    margin: 0 0 19px 0;
    transition: .3s ease-in-out;
  }
}

.card__sub-title {
  @include font-title(24px, 120%, 400);

  font-family: "CormorantInfant-Regular", "Arial", sans-serif;
  color: #70908b;
  text-transform: uppercase;
  margin: 0 0 7px 0;

  @media (min-width: $desktop-width) {
    @include font-title(45px, 120%, 400);
  }

  @media (min-width: 1920px) {
    @include font-title(36px, 69%, 700);
    margin: 0 0 19px 0;
    transition: .3s ease-in-out;
  }
}

.card__description {
  @include font-title(12px, 141%, 400);

  font-family: "Raleway", "Arial", sans-serif;
  color: #70908b;
  margin: 0 0 21px 0;

  @media (min-width: 1920px) {
    @include font-title(14px, 141%, 400);

    font-family: "Raleway", "Arial", sans-serif;
    margin: 0 0 19px 0;
    transition: .3s ease-in-out;
  }
}

.card__button-buy {
  max-width: 300px;
  border: none;
  padding: 22px 91px;

  @include font-title(14px, 114%, 700);

  font-family: "Raleway", "Arial", sans-serif;
  color: #ffffff;

  @media (min-width: $desktop-width) {
    margin-bottom: 115px;
  }

}
