.data-client {
  border: none;
  padding: 0;
}

.data-client__list-input {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.data-client__input-item {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet) {
    &:not(:last-child) {
      width: 31.6%;
    }
  }
}

.data-client__input-field {
  width: 100%;
  border: none;
  background: #F8F8F8;
  border-radius: 8px;
  padding: 22px 21px 22px 21px;
  box-sizing: border-box;
  outline: none;

  &::placeholder {
    @include font-title(14px, 114%, 400);
    font-family: "Raleway" Arial, Helvetica, sans-serif;
  }

  &--textarea {
    height: 108px;
  }
}

.valid {
  outline: 1px solid green;
}

.invalid {
  outline: 1px solid red;
}


