.form-application {
  background: #eaeeef;

  @media (min-width: $tablet) {
    background: #ffffff;
  }
}

.form-application__wrapper {
  width: 86%;
  margin: 0 auto;

  @media (min-width: $tablet) {
    padding: 0 29px;
    border-radius: 30px;
    background: #eaeeef;
    width: 88.6%;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    padding: 0;
    margin: 0 auto;
  }
}

.form-aplication__inner {

  @media (min-width: $desktop-width) {
    width: 1096px;
    margin: 0 auto;
    transition: 0.4s ease-in-out;
  }
}

.form-application__title {
  @include font-title(24px, 120%, 700);

  color: $color-first;
  margin: 0 0 25px 0;
  padding: 41px 0 0 0;

  @media (min-width: $desktop-width) {
    @include font-title(45px, 120%, 700);
    margin: 0 0 30px 0;
  }
}


.form-application__data {
  display: flex;
  flex-direction: column;
}

.form-application__wrapper-field {
  @media (min-width: $mobile-rotate) {
    display: flex;
    transition: .5s;
  }
}

.form-application__check-list {
  margin: 0 0 30px 0;
  padding: 0;
  list-style-type: none;
  width: 71.5%;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-right: 40px;
  }

  @media (min-width: $desktop-width) {
    max-width: 581px;
    justify-content: space-between;
    margin-right: 77px;
  }
}

.form-application__check-item {
  box-sizing: border-box;

  @include font-title(14px, 121%, 700);

  &:not(:last-child) {
    margin-bottom: 16px;

    @media (min-width: $tablet) {
        flex-grow: 1;
    }

    @media (min-width: $desktop-width) {
      margin-right: 14px;
    }
  }
}

.form-application__check-name {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.form-application__check {
  appearance: none;
  position: absolute;

  &:checked + .form-application__checkbox {
    perspective: 300;
    background: #70908b;
    color: #ffffff;
  }
}

.form-application__checkbox {
  display: block;
  background: #ffffff;
  transition: all ease-in-out 0.3s;
  color: #70908B;
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.3);

  &--for-my {
    padding: 16px 28px;
    width: 115px;
    color: #ffffff;

    border: 2px solid #70908b;
    border-radius: 61px;
  }

  &--for-my {
    color: #70908b;
  }

  &--for-kids {
    padding: 16px 22px;
    width: 127px;
    color: #70908b;
    background: #ffffff;
    border: 2px solid #70908b;
    border-radius: 61px;
  }

  &--for-multiply {
    padding: 16px 21px;
    width: 156px;
    color: #70908b;
    background: #ffffff;
    border: 2px solid #70908b;
    border-radius: 61px;
  }

  &:hover {
    background: #70908b;
    color: #ffffff;
    box-shadow: 4px 4px 20px #c2ccca, -8px -8px 20px #ffffff;
  }
}


.form-application__quantity-animal {
  border: none;
  padding: 0;
  margin: 0 0 30px 0;

  @media (min-width: $desktop-width) {
    width: 391px;
  }
}

.form-application__animal-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 70%;

  @media (min-width: $desktop-width) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.form-application__animal-item {
  position: relative;
  display: flex;
  align-items: center;
  width: 199px;

  &:not(:last-child) {
    margin: 0 0 14px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 14px 0;
  }
}

.form-application__animal-check {
  padding: 0 0 0 21px;
  display: flex;
  cursor: pointer;
}

.form-application__animal-checkbox {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 14px;
  height: 14px;
  border: 1px solid #70908B;
  border-radius: 50%;
  margin-left: -21px;

    &::before {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      background: #70908b;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      display: none;
    }

    &:hover {
      border: 1px solid#C4C4C4;
    }

    &:active {
      border: 1px solid #547153;
    }
}

.form-application__animalbox {
  appearance: none;
  position: absolute;

  &:checked + .form-application__animal-checkbox::before {
    display: block;
  }
}

.form-application__button-buy {
  max-width: 300px;
  padding: 26px 87px;
  margin: 0 auto 39px;

  &:disabled {
    background: rgb(0, 0, 0, 0.3);
    box-shadow: 0 5px 11px rgb(0, 0, 0, 0.5);
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto -39px;

    &:disabled {
      background: rgb(0, 0, 0, 0.3);
      box-shadow: 0 5px 11px rgb(0, 0, 0, 0.8);
    }
  }
}

.form-application__data-client {
  margin: 0 0 30px 0;
}

