.header {
  position: relative;
}

.header-nav {
  width: 87.5%;
  padding: 20px 0 0 0;
  margin: 0 auto 27px;

  @media (min-width: $desktop-width) {
    margin: 0 auto 177px;
    max-width: 1800px;
  }
}

.header-nav__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet) {
    flex-wrap: wrap;
  }

  @media (min-width: 1800px) {
    flex-wrap: nowrap;
  }
}

.header__toggle-menu {
  position: relative;
  margin: 0 86px 0 0;
  width: 25px;
  height: 14px;
  transition-duration: 1s;
  cursor: pointer;
  border: none;
  padding: 0;
  background: transparent;
  z-index: 20;

  @media (min-width: $tablet) {
    margin: 0 90px 0 0;
  }

  @media (min-width: 860px) {
    display: none;
  }
}

.header__toggle-menu span {
  height: 2px;
  width: 25px;
  background: $color-first;
  position: absolute;
  left: 0;
  transition-duration: .25s;
  transition-delay: .25s;
}

.header__toggle-menu span::before {
  content: "";
  left: 0;
  position: absolute;
  top: -4px;
  height: 2px;
  width: 25px;
  background: $color-first;
  transition-duration: .25s;
  transition: transform .25s, top .25s .25s;
}

.header__toggle-menu span::after {
  content: "";
  left: 0;
  position: absolute;
  top: 4px;
  height: 2px;
  width: 25px;
  background: $color-first;
  transition-duration: .25s;
  transition: transform .25s, top .25s .25s;
}

.header__toggle-menu.open span {
  transition-duration: 0.1s;
  transition-delay: .25s;
  background: transparent;
}

.header__toggle-menu.open span::before {
  transition: top .25s, transform .25s .25s;
  top: 0px;
  transform: rotateZ(-45deg);
}

.header__toggle-menu.open span::after {
  transition: top 0.4s, transform .25s .25s;
  top: 0px;
  transform: rotateZ(45deg);
}

.header__logo {
  z-index: 100;
  margin-right: 35px;

  @media (min-width: 860px) {
    margin-right: 155px;
    width: 14%;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    width: auto;
  }

  @media (min-width: 1920px) {
    margin-right: 573px;
  }
}

.header__logo-image {
  display: block;

  @media (min-width: $mobile-rotate) {
    width: 100px;
    height: 46px;
  }
}

.header__user-list {
  margin: 0;
  order: 3;
}
