.likes-counter {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.likes-counter__icon {
  margin-right: 2px;
  fill: #195557;

  @media (min-width: $desktop-width) {
    &--heart-info {
      stroke: #ffffff;
    }
  }

}

.slider__likes-number {
  @include font-title(10px, 160%, 400);
  color: $color-first;
  text-transform: lowercase;

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}
