.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 4px 4px 20px #E3E3E3;
  border-radius: 0px 10px 10px 0px;
  display: none;
  width: 93.7%;

  &--open {
    display: block;
    z-index: 10;
  }

  @media (min-width: 860px) {
    display: block;
    background: none;
    position: inherit;
    box-shadow: none;
    order: 3;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    max-width: 56.2%;
    order: 2;
  }
}

.main-nav__list {
  width: 250px;
  margin: 0 0 161px 0;
  padding: 100px 0 0 20px;
  list-style-type: none;

  @media (min-width: 860px) {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    order: 2;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    max-width: 565px;
    justify-content: start;
    position: relative;
  }

  @media (min-width: 1920px) {
    max-width: 565px;
    justify-content: start;
  }
}

.main-nav__item {
  box-sizing: border-box;
  transition: .4s;
  cursor: pointer;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);

  @media (min-width: 860px) {
    border-bottom: none;
    margin: 0;

    &:not(:last-child) {
      margin: 0 43px 0 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: 90px;
  }
}

.main-nav__item-link {
  padding: 10px 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-first;
  display: block;

  @include font-title(16px, 122%);

  &:hover {
      transform: scale(1.1);
    }
}


.main-nav__link-phone {
  padding: 10px 0 10px 20px;
  margin: 0 0 43px 0;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-first;
  display: block;

  &--tel-menu {
    font-family: "Raleway", "Arial", sans-serif;
    font-feature-settings: 'tnum' on, 'lnum' on;

  @include font-title(22px, 113%, 500);

  @media (min-width: 860px) {
      display: none;
    }
  }
}
