.modal-form {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 300;
  overflow-y: scroll;

  &--close {
    visibility: hidden;
  }

  &--open {
    position: fixed;
    visibility: visible;
  }
}

.modal-form__window {
  width: 400px;
  position: relative;
  margin: auto;
  background-color: #ffffff;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
}


.modal-form__content {
  width: 300px;
  margin: auto;
  text-align: center;
  padding: 30px 20px;
}


.modal-form__content-title {
  @include font-title(36px, 115%, 700);
  margin-bottom: 20px;
}

.modal-form__content-description {
  margin: 0 auto 50px;
  width: 250px;
  @include font-title(18px, 115%, 700)
}

.modal-form__button-close {
  display: block;
  padding: 25px 0;
}
