.popup__list {
  cursor: default;
  list-style-type: none;
  z-index: 10;
  padding: 19px 0 21px 24px;

  width: 169px;
  background: #FFFEFE;
  box-shadow: 4px 4px 20px #C2CCCA;
  border-radius: 8px;

  &--close {
    display: none;
  }

    &--open {
      position: absolute;
      left: -24px;
      top: 40px;

      @media (min-width: $desktop-width) {
        top: 48px;
      }
    }
  }


.popup__item {
  &:not(:last-child) {
    margin-bottom: 19px;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.040);
  }
}

.popup__link {
  text-transform: uppercase;
  text-decoration: none;
  color: $color-first;

  @include font-title(16px, 1.18, 700);
}
