.promo-advantages {
  background: url("../img/content-img/image-promo.png") no-repeat,
  radial-gradient(50% 50% at 50% 50%, rgba(255, 238, 206, 0.49) 0%, rgba(196, 196, 196, 0) 100%);
  background-position: right -23px;
}

.promo-advantages__advantages-list {
  margin: -90px auto 0;
  padding: 20px 0 0 0;
  width: 87.5%;
  list-style-type: none;

}


