.slider {
  width: 100%;
  height: 100%;
}

.slider__swapper-list {
  margin: 0;
  padding: 0;
}

.slider__slide-item {
  width: 60%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  &:nth-child(2n) {
    width: 40%;
  }

  &:nth-child(3n) {
    width: 20%;
  }
}

.slider__slide-title {
  margin: 0;
}

.slider__slide-description {
  margin: 0;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

