.slider .__container-slider {
  margin: 0 0 0 19px;

  @media (min-width: $tablet) {
    padding: 30px 0 0 0;
    width: 738px;
    margin: 0 auto 19px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin: 0 auto;
  }
}

.slider__slide-list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 50px auto;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  @media (min-width: $tablet) {
    margin: 0 auto 50px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    margin: 0 auto 84px;
  }
}

.slider__slide {
  position: relative;
  display: flex;
  align-items: center;
  flex: 0 0 279px;
  font-size: 14px;
  scroll-snap-align: start;

  @media (min-width: $desktop-width) {
    max-width: 570px;
    margin-right: 60px;
  }
}

.slider__slide-inner {
  position: relative;
  width: 243px;
  border-radius: 20px;

  @media (min-width: $desktop-width) {
    width: 570px;
    display: flex;
  }
}

.item1 {
  background: linear-gradient(140deg, #ffedcd 90%, transparent 68%);
}

.item2 {
  background: linear-gradient(140deg, #e2f0df 90%, transparent 68%);
}

.slider__slide-content {
  position: relative;
  padding: 12px 19px 18px 29px;

  @media (min-width: $desktop-width) {
    padding: 54px 19px 18px 59px;
  }
}

.slider__slide-info-btn {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    box-sizing: border-box;
    padding: 0;
    width: 32px;
    height: 32px;
    background: transparent;
    border: 3px solid $color-first;
    border-radius: 50%;
    position: absolute;
    top: 19px;
    right: 28px;
    z-index: 1;
    cursor: pointer;
  }


  &:hover + .slider__slide-navbar {
    transform: scale(1);
    color: #ffffff;
  }
}

.slider__slide-info-btn span {
  font-size: 18px;
  font-weight: 700;
  color: $color-first;
}

.slider__slide-navbar {
  margin: 0 0 15px 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: end;

  @media (min-width: $desktop-width) {
    display: none;
    transform: scale(0);
    position: absolute;
    top: 60px;
    right: -250px;
    display: flex;
    background: #195557;
    width: 220px;
    height: 88px;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: -20px;
      right: 98px;
      border: 10px solid transparent;
      border-bottom: 10px solid #195557;
    }
  }
}

.slider__navbar-item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-right: 18px;
  }
}

.slider__navbar-icon {
  margin-right: 2px;
  fill: #C2CCCA
}

.slider__navbar-text {
  @include font-title(10px, 160%, 400);


  color: $color-first;
  text-transform: lowercase;
  font-feature-settings: 'pnum' on, 'lnum' on;

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.slider__navbar-button {
  margin: 0;
}

.slider__slide-title {
  @include font-title(30px, 99%, 700);

  margin: 0 0 6px 0;

  @media (min-width: $desktop-width) {
    @include font-title(40px, 99%, 700);
    margin: 0 0 17px 0;
    width: 204px;
  }
}

.slider__slide-description {
  @include font-title(11px, 141.9%, 400);


  font-family: "Raleway", "Arial", sans-serif;
  width: 122px;
  color: #000000;
  margin: 0;

  @media (min-width: $desktop-width) {
    @include font-title(14px, 141.9%, 400);
    width: 163px;
  }
}

.slider__slide-price {
  @include font-title(20px, 120%, 700);


  text-decoration-line: line-through;
  color: #C2CCCA;
}

.slider__slide_price-sale {
  @include font-title(40px, 120%, 700);


  color: $color-first;
  display: block;
}

.slider__button-add {
  padding: 0;
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: .3s ease-in-out;

  &:hover {
    transform: rotate(360deg);
  }
}

.slider__button-icon {
  display: block;

}

.slider__slide-block-image {
  position: absolute;
  width: 177px;
  height: 129px;
  bottom: 59px;
  left: 110px;
  background-image: url("../img/content-img/preview-one.png");

  @media (min-width: $desktop-width) {
    width: 363px;
    height: 265px;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 33px;
    left: 203px;
    background-image: url("../img/content-img/preview-one.png");
  }
}

.slider__button-prev,
.slider__button-next {

  &::after {
    font-size: 24px;
    color: #70908B;
    display: block;
  }
}
