.user-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.user-list__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 13px;

    @media (min-width: $desktop-width) {
      width: 190px;
    }
  }

  @media (min-width: $tablet) {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }
}

.user-list__item-link {
  display: block;
  position: relative;
  cursor: pointer;

  &--call {
    width: 35px;
    height: 35px;
    background: linear-gradient(92.42deg, #B0D3CE -1.96%, #FFEDCE 92.83%);
    box-shadow: -4px -4px 20px #FFFFFF, 4px 4px 20px #CFD7D3;
    border-radius: 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  &--basket {
    width: 32px;
    height: 27px;
  }
}

.user-list__counter-container {
  width: 19px;
  height: 19px;
  border-radius: 50px;
  background: rgb(255, 237, 205);
  position: absolute;
  top: -8px;
  right: 0;
}

.user-list__counter-basket {
  text-transform: uppercase;
  font-feature-settings: 'tnum' on, 'lnum' on;
  color: #000000;
  padding: 3px 7px;

  @include font-title(10px, 12px, 700);
  font-family: "Raleway" Arial, Helvetica, sans-serif;
}

.user-list__item-phone {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline-block;
    width: 128px;
    padding: 10px 0 10px 45px;
    text-decoration: none;
    color: $color-first;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;


    @include font-title(14px, 116%, 500);
    font-family: "Raleway", "Arial", sans-serif;
  }
}

.user-list__link-icon {

  &--call {
    position: absolute;
    top: 12px;
    left: 11px;
  }
}
