.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  outline: none;
  box-sizing: border-box;
  width: 100%;
  border: none;
  background: rgb(112, 144, 139);
  box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
  border-radius: 40px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;

  @include font-title(14px, 114%, 700);

  font-family: "Raleway", "Arial", sans-serif;
  color: #ffffff;

  &:hover {
    background: linear-gradient(90.14deg, #B0D3CE -2.41%, #FFEDCE 99.79%);
  }
}
