html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  color: $color-first;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.wrapper {
  background: url("../img/fone/subtract.jpg");
  background-repeat: no-repeat;
  background-position: top;
  height: 406px;
  width: 320px;
}
