html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "CormorantInfant-Bold", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: $color-first;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.top-wrapper {
  background: #eaeeef;
  position: relative;

  @media (min-width: $desktop-width) {
    background: url("../img/fone/subtract.jpg")no-repeat;
    background-size: contain;
    overflow: hidden;


    &::after {
      content: "";
      position: absolute;
      width: 1048px;
      height: 1048px;
      top: -50%;
      left: -50%;
      background: radial-gradient(50% 50% at 50% 50%, rgba(180, 197, 194, 0.83) 0%, rgba(224, 225, 225, 0) 100%);
    }

    &::before {
      content: "";
      position: absolute;
      width: 1582px;
      height: 1582px;
      top: -73%;
      left: 590px;
      background: radial-gradient(50% 50% at 50% 50%, rgba(255, 238, 206, 0.49) 0%, rgba(196, 196, 196, 0) 100%);
    }
  }
}

// .top-wrapper__bottom-block {
//   @media (min-width: $desktop-width) {
//     background: url("../img/fone/Ellipse-17.png");
//     background-size: contain;
//     background-repeat: no-repeat;
//     height: 119px;
//   }
// }


.__container {
  width: 87.5%;
  margin: 0 auto;
}

